/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}

.main-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* MAIN CONTAINER THAT DIVIDED AS ROW IN 6 TO 6 */
.main-container-inner{
    position: relative;
}

/* WRAPPER OR (COVER, OVERLAY) */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Change this to adjust the overlay color and opacity */
    z-index: 0;
}

/* NAVIGATION BAR - (NAVBAR) */
.navbar-brand img{
    width: 150px;
    height: 50px;
    bottom: 10%;
}

.custom-navbar {
    height: 75px;
    padding: 10px 20px; 
    background-color: #8908c171 !important; 
}


.autorization-block {
    border: 2px solid #14ceeb;
    padding: 5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 0 1px #14ceeb,
        0 0 1px #14ceeb,
        0 0 1px #14ceeb,
        0 0 2px #14ceeb,
        0 0 3px #14ceeb,
        0 0 4px #14ceeb;
}

.register-btn{
    width: 80px;
    height: 40px;
    background-color: #14ceeb;
    color: #fff;
}

.login-btn{
    width: 80px;
    height: 40px;
    color: #14ceeb !important;
    margin-right: 5px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* FIRST HALF - INTRODUCTION TEXT */
.introduction-text{
    position: absolute;
    top: 60%; /*CHANGED*/
    left: 5%;
    transform: translateY(-50%);
}

.introduction-text h1{
    color: rgb(243, 95, 240);
    font-size: 70px;
}

.introduction-text h2{
    color: rgb(243, 95, 240);
    font-size: 70px;
}

.introduction-text p{
    color:white;
    width: 130%;
}

.neon-text{
    color: #fff;
    text-shadow: 
        0 0 5px #fff, 
        0 0 5px #fff, 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 30px #610d61, 
        0 0 40px #723972;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    top: 110%;
    transform: translateY(0%);
    width: 100px;
}

/* ARROW */
.arrow-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; /* CENTRALIZATION */
    gap: 25px;
}

.arrow {
    flex-grow: 1;
    height: 2px; /* HEIGHT OF LINE */
    background-color: #fff; /* COLOR OF LINE */
    position: relative;
    margin: 0 10px; /* SPACE BETWEEN TEXT AND ARROW */
    min-width: 150px; /* MIN WIDTH OF LINE */
}

.arrow::after {
    content: '';
    position: absolute;
    right: -5px; /* POSITION OF TRIANGLE */
    top: calc(50% - 5px); /* VERTICAL POSITION OF TRIANGLE */
    width: 0;
    height: 0;
    border-left: 10px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* SECOND HALF - CUSTOMER INFO */
.customer-info {
    display: flex;
    flex-direction: column;
    gap: 20px; /* SPACE BETWEEN BLOCKS */
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
}

.info-number {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #14ceeb;
}

.first {
    margin-top: 10%;
}

/* PLUS */
.plus {
    display: inline-block;
    margin-left: 5px;
    font-size: 30px;
    animation: rotate 2s linear infinite;
    color: red;
}

.info-title {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
    text-align: right;
}

/* ROTATE ANIMATION FOR PLUS */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}